.card.faceUp {
    width: 50px;
    height: 80px;
    padding: 10px;
    border: solid 1px grey;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 10pt;
    text-align: center;
    margin: 3px;
    border: solid 3px;
}

.card.faceDown {
    width: 50px;
    height: 80px;
    padding: 10px;
    border: solid 1px grey;
    background-color: lightblue;
    display: inline-block;
    border-radius: 10px;
    font-size: 10pt;
    text-align: center;
    margin: 3px;
    border: solid 3px;
}